# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/
build-*/
_deps/
build-w5500/
build-w5500-ninja/
generated/
pico-sdk/
pico_flash_region.ld

# CMake / Visual Studio local files
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# MacOS files
.DS_Store

copy-sdk.sh
